* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    line-height: 1.7;
    color: #797979;
}

.icono {
    width: 30px;
    height: 30px;
    fill: rgb(190, 30, 45);
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;


  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(190, 30, 45);
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
  }
  
  nav ul ul li {
    display: block;
    width: 200px;
  }
  
  nav ul ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(190, 30, 45);
  }
  
  nav ul ul li:hover {
    background-color: rgba(255, 79, 97, 0.1);
  }
  
  nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  
header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 25px;
    background-color: rgba(255, 79, 97, 0.37);
}

.header-buscador {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    border-bottom: 1px solid rgb(190, 30, 45);
}

.header-buscador .icon-menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 50px;
}

.search {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.search i {
    color: rgb(190, 30, 45);
    margin: 5px;
    font-size: 25px;
}

.input-search {
    width: 500px;
    border-radius: 15px;
    border: 1px solid rgb(190, 30, 45, 0.7);
    height: 35px;
    color: #000;
    padding: 15px;

}

a {
    text-decoration: none;
}

p {
    color: rgb(190, 30, 45);
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
