* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: rgba(255, 79, 97, 0.37);
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(190, 30, 45);
  margin-bottom: 25px;
  border-bottom: 2px solid rgb(190, 30, 45);
  padding-bottom: 5px;
  display: inline-block;
}

footer ul li {
  list-style: none;
}

.footer-links ul li a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(190, 30, 45);
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: rgb(152, 24, 36);
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(190, 30, 45);
  margin: 0 10px 10px o;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-link a:hover {
  background-color: blue;
}

.element-footer {
  padding: 20px;
  margin-top: 20px;
}

h4 {
  font-size: 18px;
  color: rgb(190, 30, 45);
  margin-bottom: 10px;
}

.icon-logo {
  margin-right: 10px;
}

h4.h3 {
  border-top: 1px solid rgb(190, 30, 45);
  padding-top: 20px;
}

.footer-legal {
  position: relative;
  top: 79px;
  padding: 15px;
  background-color: rgb(190, 30, 45);
}

.footer-legal {
  font-size: 12px;
  color: white;
  text-align: auto;
}

a.font-weight-bold {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }

  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
